@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

html {
  scrollbar-width: normal;
  scrollbar-color: #181818 #181818;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 0px;
}

html::-webkit-scrollbar-track {
  background-color: #fff;

}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #181818;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/*HEADER START*/

#header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: transparent;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease-in-out;
 
}

#header.scrolled {
  background-color: #ffffff
}

#header h2 {
  font-size: 28px;
  font-weight: bold;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: white;
  background-color: #181818;
  border-radius: 3px;
  padding: 2px 7px;

}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#navbar .submenu {
  width: 280px;
  display: none;
  position: absolute;
  top: 100%;
  background-color: #181818;
  left: 0;
  border-radius: 5px;
  padding: 8px;
  max-height: 200px; /* Altura máxima del submenú */
  overflow-y: auto; /* Habilitar la barra de desplazamiento vertical */
  z-index: 999;
}

#navbar li:hover .submenu {
  display: block;
}

.nav {
  width: 300px;
}

.list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  border-radius: 0 16px 16px 0;
  background: #fff;
}

.list__item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.submenu h2 {
  color: white;
  display: none;
}

#navbar .submenu.show {
  display: block;
}

#navbar .submenu ~ li {
  transform: translateY(100%);
  z-index: 1;
}

#navbar .submenu li a {
  color: #ffffff;
}

#navbar .submenu::-webkit-scrollbar {
  width: 2px;
}

#navbar .submenu::-webkit-scrollbar-track {
  background-color: #181818; 
}

#navbar .submenu::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

#navbar .submenu::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f1;
}


/*HOME PAGE*/
#hero {
  background-image: url(img/about/home.jpg);
  height: 102vh;
  width: 100%;
  background-size: cover;
  padding: 180px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-15%);
  position: relative;

}*/

#hero h2 {
  color: #fff;
  position: relative;
}

#hero p {
  color: #fff;
  position: relative;
}

#hero h4 {
  padding-bottom: 15px;
  color: #fff;
  position: relative;
}

#hero h1 {
  color: #fff;
  position: relative;
}

#hero button {
  background-color: #181818;
  color: white;
  border-radius: 10px;
  border-style: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  position: relative;
}

/*CATEGORIES SECTION*/

#categories h2 {
  text-align: center;
  padding-bottom: 40px;
}

#categories ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center; /* Center the items horizontally */
}

#categories li {
  margin: 10px;
  text-align: center;
  transition: transform 1s ease, opacity 0.3s ease;
}

#categories img {
  width: 100px;
  height: 100px; /* Maintain the aspect ratio */
  border-radius: 100%;
  display: block;
  margin: 0 auto; /* Center the images */
  object-fit: cover;
}

#categories p {
  margin-top: 5px;
  font-size: 14px;
  color: #181818;
  font-weight: bold;

}

#categories li:hover {
  transform: scale(1.1); /* Escalar la imagen un 10% más grande */
  opacity: 0.8;
}


/*FEATURE SECTION*/
/*PRODUCTS SECTION*/

#product1 {
  text-align: center;
}

#product1 p {
  margin-top: 7px;
  margin-bottom: 40px;
}

#product1 h2::after {
  content: "";
  position: relative;
  width: 40%;
  border-radius: 20px;
  height: 1px;
  display: block;
  margin: 0 auto;
  background-color: #181818;
  margin-top: 4px;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 a p {
  background-color: #181818;
  border-radius: 20px;
  color: white;
  padding: 10px;
}

#product1 a p:hover {
  transition: 0.4s;
  background-color: cornflowerblue;
  color: white;
}

#product1 .pro {
  width: 23%;
min-width: 190px;
  padding: 10px 12px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 0px;
  color: #1a1a1a;
  font-size: 16px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: #181818;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #181818;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #181818;
  font-weight: 500;
  color: #ffff;
  padding: 0px 10px 0px 8.5px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/*BANNER SECTION*/
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/about/gateria.webp);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #181818;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #181818;
  font-size: 30px;
  padding: 10px 0;
}

#banner button:hover {
  background: #181818;
  color: #fff;
}

/*GALLERY SECTION*/

.fotos {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
#gallery .fotos img {
  width: 300px;
  height: 200px;
  object-fit: cover;
border-radius: 20px;
margin: 20px;
}

#gallery img:hover {
  transition: 0.5s;
  width: 320px;
}

/*FOOTER*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #181818;
  color: white;
  border-radius: 20px 20px 0px 0px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: white;
}

footer h2 {
  margin-bottom: 20px;
  font-size: 40px;
  margin-top: 20px;
  color: white;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
  color: white;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
  color: white;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

footer .follow i{
  margin-top: 20px;
  padding-right: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #181818;
  padding: 8px;
  border-radius: 3px;
}

footer .install .row img {
  border: 1px solid #181818;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: white;
  background-color: #fff;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

#prodetails footer {
  display: none;
}


/* SHOP PAGE */
#page-header {
  background-image: url(img/banner/tukipromos2.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2 {
  color: #fff;
}

#page-header p {
  color: #fff;
  font-weight: bold;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #181818;
  padding: 13px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* SINGLE PRODUCTS */

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis:  24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 30%;
  padding-top: 30px;
}

#prodetails .info-container {
  width: 30%;
}

#prodetails .info {
  width: 70%;
  text-align: left;
  color: #000000;
}

#prodetails h6::after {
  content: "";
  position: relative;
  width: 80%;
  right: 33px;
  border-radius: 20px;
  height: 1px;
  display: block;
  margin: 0 auto;
  background-color:#000000;;
  margin-top: 13px;
}

#prodetails .single-pro-details h6 {
  padding: 0px 0px 20px 0;
  font-size: 13px;
  margin: 0;
  color: #000000;
}

#prodetails .single-pro-details h3 {
  margin-bottom: 0;
  color: #000000;
}

#prodetails .single-pro-details h4 {
  padding: 10px 0 20px 0;
  color: #000000;
}

#prodetails .single-pro-details h2 {
  display: inline;
  color: #000000;
  margin-right: 5px;
  font-size: 15px;
  text-decoration: line-through;
}

#prodetails .single-pro-details p {
  width: 80%;
  margin-bottom: 9px;
  color: #000000;
}

#prodetails .select-container {
  display: flex;
  position: relative;
}

#prodetails .single-pro-details select {
  display: flex;
  padding: 0.3rem;
  margin-bottom: 18px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  border-color: 3px #000;
  color: #000;
  width: 50%;
  border-radius: 5px;
  outline: none;
}



#prodetails .single-pro-details input {
 width: 50px;
 height: 47px;
 padding-left: 10px;
 font-size: 16px;
 margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: #181818;
  color: #fff;
  height: 48px;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  background-color: #ffe800;
  font-size: 15px;
  
}







/*WOMAN CLOTHES*/

#herowoman {
  background-image: url(img/fondowoman.png);
  height: 102vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 180px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-15%);
  position: relative;
}

#heromen {
  background-image: url(img/HEROMEN.png);
  height: 102vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 180px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-15%);
  position: relative;
}

#herowoman h2 {
  font-size: 30px;
  color:#ffe800;
  line-height: 30px;
  transform: translateY(190%);
}

#herowoman h1 {
  font-size: 30px;
  color:#fff;
  line-height: 40px;
  background-color: #181818;
  transform: translateY(160%);
}

#herowoman p {
  font-size: 15px;
  color:#ffe800;
  line-height: 20px;
  transform: translateY(290%);

}

#herowoman h4 {
  font-size: 15px;
  color:#fff;
  background-color: #181818;
  transform: translateY(230%);
}

#heromen h2 {
  font-size: 30px;
  color:#ffe800;
  line-height: 30px;
  transform: translateY(190%);
}

#heromen h1 {
  font-size: 30px;
  color:#fff;
  line-height: 40px;
  background-color: #181818;
  transform: translateY(160%);
}

#heromen p {
  font-size: 15px;
  color:#ffe800;
  line-height: 20px;
  transform: translateY(290%);

}

#heromen h4 {
  font-size: 15px;
  color:#fff;
  background-color: #181818;
  transform: translateY(230%);
}



#close-menu {
  color: #ffffff;
  transform: translateX(2660%);
}


#navbar li {
  position: relative;
}










/*START MEDIA QUERY*/

@media (max-width: 1200px) {

  #header {
    width: 100%;
  }

  #header h2 {
    margin-left: -30px;
  }

  #navbar {
    position: relative;
    align-items: center;
  }

  #hero {
    background-position: center;
    text-align: center;
  }

  #product1 .des {
    width: 90%;
  }

   #sm-banner .banner-box {
    margin: 10px;
    align-items: center;
    width: 100%;
    background-position: inherit;
   }

   #banner3 .banner-box{
    width: 30%;
   }
}

@media (max-width: 1055px) {
  
}

@media (max-width: 992px) {

  #header h2 {
    margin-left: -40px;
  }
  #navbar li {
    right: -60px;
  }

  #feature .fe-box {
    width: 26%;
  }

  #feature .fe-box .back-face p{
    height: 15vh;
  }

  #product1 .pro {
    width: 30%;
  }

  #product1 .star {
    display: none;
  }

  #banner3 h2 {
font-size: 20px;
line-height: 20px;
padding-bottom: 18px;
  }

  #banner3 h3 {
    font-size: 12px;
  }
}




@media (max-width:768px) {
  #feature {
    display: none;
  }

  #product1 .des h5, h4 {
    font-size: 12px !important;
  }

  #product1 .cart {
    background-color: transparent !important;
    color: #181818 !important;
    font-size: 15px;
    transform: translateY(40%);
  }

  #banner h4 {
    font-size: 20px  !important;
  }
  
  #banner h2 {
    font-size: 29px;
  }

  #banner span {
    font-size: 29px;
  }

  #banner3 h2 {
    font-size: 15px;
  }

  #banner3 h3 {
    font-size: 10px;
  }

  #newsletter input {
    width: 190px;
    height: 50px;
  }

  #newsletter button {
    height: 50px;
  }
}

@media (max-width:763px) {

  .section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 90px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
    left: 10px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
    transform: translateX(150%);
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #hero h2, h1 {
    font-size: 30px;
    line-height: 40px;
  }

  #hero p {
    font-size: 15px;
    margin: 0;
    margin-bottom: 20px;
  }

  #hero h4 {
    font-size: 15px !important;
    line-height: 0px;
  }

  #banner3 {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  #banner3 .banner-box{
    padding: 0 20px;
    width:100%;
    background-size: cover;
    background-position: center;
}

#product1 .pro-container {
  justify-content: center;
}

#product1 .pro {
  width: 45%;
  justify-content: space-between;
  min-width: unset;
  margin: 5px;
}

#prodetails p {
  display: none;
}

#prodetails h2 {
  display: none;
}

#prodetails h6 {
  display: none;
}

#prodetails .single-pro-details{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  border: 2px black;
  width: 100%;
  z-index: 99999;
  padding: 10px;
  box-sizing: border-box;
  height: 25vh;
  box-shadow: #000 0px 0px 0.5px 1px;
}

#prodetails .small-img-group {
  position: relative;
  height: 20%;
  width: 408%;
  display: inline;

}

#prodetails .single-pro-image {
  position: relative;
  width: 1090px;
  margin-left: 17.3px;
}

#prodetails .single-pro-details h2 {
  font-size: 12px;
  line-height: 0;
  transform: translateY(20%);
}

#prodetails .single-pro-details span {
  font-size: 12px;
  transform: translateY(20%);
}

#prodetails .single-pro-details h3 {
  font-size: 15px;

}



#prodetails .product-actions {
  flex-direction:column;
  position: relative;
}

#prodetails .product-actions select {
  display: inline;
  margin: 4px 0;
  font-size: 10px;
  transform: translateY(60%);
  border-color: #181818;
}

#prodetails .product-actions input[type="number"] {
  width: 40px;
  height: 28px;
  display: inline;
  transform: translateY(69%);
  border-color: #181818;
  border-style: none;
}

#prodetails .product-actions button {
  display: block;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  transform: translateY(110%);
}
}

@media (max-width:576px) {

  .section-p1 {
    padding: 20px;
  }

  #header h2 {
    transform: translateX(-15%);
    font-size: 25px;
  }

  #navbar i {
    font-size: 25px;
  }
  #product1 {
    padding: 10px;
  }

  #product1 .pro {
    margin: 10px;
    width: 45%;
  }

  #sm-banner {
    background-position: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }
}

footer .copyright {
  text-align: start;
}

@media (max-width:466px) {

  #hero h2, h1{
    font-size: 25px;
    line-height: 30px;
    transform: translateY(70%);
  }

  #hero p {
    font-size: 12px;
    margin-top: 8px;
    transform: translateY(100%);
  }

  #hero button {
    transform: translateY(30%);
    font-size: 13px;
  }

  #hero h4 {
    transform: translateY(160%);
  }

  #product1 .pro {
    width: 45%;
    justify-content: space-between;
    min-width: unset;
    margin: 5px;
  }

  #product1 img {
    height: 60%;
  }

  #newsletter {
    height: 40vh;
    padding: 18px;
  }

  #newsletter input {
    width: 170px;
    height: 40px;
  }

  #newsletter .normal {
    height: 40.5px;
    transform: translateY(-1%);
    font-size: 12px;
    padding: 10px;
    width: 100%;
  }

  #banner h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #banner button {
    font-size: 12px;
    padding: 12px;
    transform: translateY(20%);
  }

  #banner span {
    position: relative;
    font-size: 20px !important;
  }
}

@media (max-width:409px) {
  #header h2 {
    font-size: 21px !important;
  }

  #mobile i {
    font-size: 21px;
  }
}

@media (max-width:360px) {
  #header h2 {
    font-size: 20px !important;
    transform: translateX(-25%);
  }

  #prodetails .single-pro-image {
    left: 5px;
  }

 
}
 

 


 
